  /* .overflowAuto {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 250px);
  }

  .overflowFixed {
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  width: 50%!important;
} */
.fixed-content {
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}